* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vw;
    background: #f9f9f9;
    font-family: 'Font Name', serif;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: #444;
    border-radius: 20px ;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    padding: 40px;
    overflow: hidden;
    z-index: 1;
}
.wrapperr {
    position: relative;
    width: 400px;
    height: 500px;
    background: #444;
    border-radius: 20px ;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    padding: 40px;
    overflow: hidden;
    z-index: 1;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;

}
.form-wrapperr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
  
  }
.wrapper.form-wrapper .sign-up
{
    position: absolute;
    top: 0;
    left: 0;
}
.wrapper.form-wrapper .sign-in
{
   display: none;
}
.wrapper.activeSignUp .form-wrapper .sign-in
{
    animation: hidejellyAnimate 1s ease forwards;
}
.wrapper.activeSignup .form-wrapper .sign-up
{
    animation: showjellyAnimate 1s ease forwards;
    animation-delay: 1.2s;
}
.wrapper.form-wrapper .sign-up
{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0,0);
}
@keyframes hidejellyAnimate
{
    0%
    {
        transform: scale(1,1);
    }
    25%
    {
        transform: scale(.9,1.1);
    }
    50%
    {
        transform: scale(1.1,.9);
    }
    75%
    {
        transform: scale(.95,1.05);
    }
    100%
    {
        transform: scale(0,0);
    }
}
@keyframes showjellyAnimate
{
    0%
    {
        transform: scale(0,0);
    }
    25%
    {
        transform: scale(.95,1.05);
    }
    50%
    {
        transform: scale(1.1,.9);
    }
    75%
    {
        transform: scale(.9,1.1);
    }
    100%
    {
        transform: scale(1,1);
    }
}
h2
{
   font-size: 30px;
    color: #fff;
    text-align: center;
}
.input-group {
    position: relative;
    width: 320px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;

}
.input-group label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.input-group input
{
    width: 100px;
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
}
.input-group input:focus~label,
.input-group input:valid~label
{
    top: -5px;
}
.remember
{
    margin: -15px 0 15px 5px;
}
.remember label
{
    color: #fff;
    font-size: 14px;
}
/* check point style */
.remember label input
{
    accent-color: #f4157e;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
/* style button sign in */
button
{
    position: relative;
    width: 100%;
    height: 40px;
    background: #fff;
    font-size: 16px;
    color: #444;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;

}   
.sign-link
{
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
    

}
.sign-link p
{
    color: #fff;
}
.sign-link p a
{
    text-decoration: none;
    color: #fff;
    font-weight: 500;

}
.sign-link p a:hover
{
    text-decoration: underline;
}
.social-platform
{
    font-size: 14px;
    color: #fff;
    text-align: center;

}
.social-icons a
{
    display: inline-block; 
    width: 35px;
    height: 35px;
    background: transparent;
    border: 1px solid  #fff;
    border-radius: 50%;
    text-align: center;
    line-height:  35px;
    margin: 15px 6px 0;
    transition: .5s;
}
.social-icons a:hover
{
    background: #fff;
   
}
.social-icons a i
{
    color:#fff ;
    font-size: 14px;
    line-height: 35px;
    transition: .5s;

}
.social-icons a:hover i
{
    color: #444;
}
.curved
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #976ed7;
    z-index: -2 ;
    clip-path: circle(98% at 0 0);
    transition-delay: 1.2s;
}
.bg-animate
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1 ;
    background: #976ed7;
    clip-path: circle(0% at 0 0);

}
.bg-animate.active
{
    transition: clip-path 1.2s ease-out;
    clip-path: circle(98% at 0 0);
}
.colors
{
    position: absolute;
    right: 0;
    background: #444;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}
.colors .color
{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--clr);
    margin: 10px;
    cursor: pointer;

}

.colors .color.active
{
    border: 2px solid #fff;
    transform: scale(1.5);

}